<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="https://www.baidu.com/">百度</a></h3>啧啧</li>
  <li><h3><a href="http://www.onefoundation.cn/html/cn/beneficence.html">壹基金</a></h3>壹基金雅安地震救援，刻不容缓！</li>
</ul>
<%- include footer %>