<%- include header %>
<form method='post' action='/upload' enctype='multipart/form-data' >
  <input id="fileupload" type="file" name="fileupload" /><br />
        <button id="btnSub" class="btn btn-lg btn-primary" type="submit">提 交</button>
</form>
<%- include footer %>